

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">Reason</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="">
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li class="active">
          <a class="page-scroll" href="#services">Services</a>
        </li>
        <li>
          <a class="page-scroll" href="#portfolio">Portfolio</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>


<br>
<br>
<br>

<br>
<br>
<br>


<br>
<br>
<br>
<form class="form-horizontal" #f="ngForm" (ngSubmit)="Search(f.value)">
  <div class="form-group">
    <label class="control-label col-sm-2" for="city">Capital:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="city" placeholder="Enter your city"name="city" ngModel>
    </div>
  </div>



  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Search</button>
    </div>
  </div>





</form>

<h4>{{Names}} {{Region}}</h4>

